.card {
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  width: 20vw;
}

.card:hover {
  transform: translateY(-.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.gallery-poster {
  border-radius: 10px;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.text {
  padding-left: 10px;
}

@media screen and (max-width: 1024px) {
  .card{
    width:25vw;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
  .card {
    background-color: #fff;
    cursor: pointer;
    width: 45vw;
  }
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {
  .card{
    margin-bottom: 10vw;
    width:80vw;
  }
}
