.spotlight-image {
  border-radius: 10px;
  width: 100%;
}

.spotlight-card {
  text-align: center;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  width: 48%;
  font-size: 18px;
  margin-top: 20px;
}

.spotlight-container {
  display: flex;
  justify-content: center;
}

.back-button {
  padding: 5px;
  font-size: 25px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .spotlight-card{
    width: 55%;
    margin-top: 30px;
    margin-right:15px;
  }
}

@media screen and (max-width: 768px) {
  .spotlight-card{
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .spotlight-card{
    width: 90%;
  }
}
